<a href="/">Home</a>

<form action="/managers/add" method="POST">
    
        <label for="_id">Manager ID</label>

        <input type="text" name="mgrid" id="mgrid" required>

        <br>

        <label for="name">Name</label>
    
        <input type="text" name="name" id="name" required>
    
        <br>
    
        <label for="salary">Salary</label>
    
        <input type="text" name="salary" id="salary" required>
    
        <br>
    
        <input type="submit" value="Add Manager">



</form>