<a href="/">Home</a>

<form action="/stores/add" method="POST">
    <label for="sid">SID</label>
    <input type="text" name="sid" id="sid" required>
    <br>
    <label for="location">Location</label>
    <input type="text" name="location" id="location" required>
    <br>
    <label for="mgrid">Manager</label>
    <input type="text" name="mgrid" id="mgrid" required>
    <br>
    <input type="submit" value="Add Store">
    
</form>